h1 {
  text-align: center;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin:0 auto;  
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  text-align: center;
}

