h1 {
  text-align: center;
}
div {
  background-color: #00C2CB 
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin:0 auto; 
  position: relative;
  z-index: 1
  
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  text-align: center;
}

.island {
  position: absolute; 
  width: 910px;
  margin: 0 auto;
  z-index: 0
}
